@import 'mixins';

$global-background: rgb(255, 253, 151);
$content-background: white;
$text-color: rgb(88, 75, 75);
$header-title-color: rgb(63, 128, 79);
$text-decoration-color: #d1d1d1;
.global {
  color: $text-color;
  font-family: 'Robto Mono', monospace;
  background-color: $global-background;
  background-image: url("/assets/images/texture.jpg");
}

.header {
  margin-bottom: 75px;
  margin-top: 75px;
  text-align: center;

  &__title {
    animation: 0.25s slidein linear;
    @keyframes slidein {
      @for $i from 1 through 16 {
        0% {
          letter-spacing: 0.5em;
        }
      }
    }

    color: $header-title-color;
    font-family: 'Major Mono Display', monospace;
    font-size: 42px;
    letter-spacing: 0em;
    @media screen and (min-width: $medium-start-breakpoint) {
      font-size: 56px;
      letter-spacing: 0.125em;
    }

    @media screen and (min-width: $large-start-breakpoint) {
      font-size: 72px;
    }

    text-decoration: none;

    &:visited {
      color: $header-title-color;
      text-decoration: none;
    }
  }
}

.content-wrapper {
  @include content-wrap;
  background-image: url("/assets/images/texture2.jpg");
  padding: 8px;

  h1 {
    font-family: 'Bungee Shade', cursive;

    letter-spacing: 0.33em;
    text-align: left;
    text-transform: uppercase;
    color: $header-title-color;
    padding-right: 0px;
    font-size: 32px;
    letter-spacing: 0em;
    margin-top: 0;
    @media screen and (min-width: $medium-start-breakpoint) {
      font-size: 48px;
      letter-spacing: 0.125em;
      padding-right: 32px;
    }
  }

  margin-left: 0px;
}

.content {
  background: $content-background;
  padding: 8px;

  @media screen and (min-width: $medium-start-breakpoint) {
    padding: 32px;
  }

  h2 {

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin: 0;
    margin-top: 16px;
    padding: 8px;
    padding-bottom: 0;

    a {
      text-decoration-line: none;
    }
  }

  p {
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  a {
    color: $text-color;
    text-decoration-line: dotted;
    text-decoration-color: $text-decoration-color;
    word-break: break-all;
    &:visited {
      color: $text-color;
    }
    &:hover {
      color: $text-decoration-color;
      text-decoration: none;
    }
    &:active {
      color: $text-decoration-color;
      text-decoration: underline;
      text-decoration-color: $text-decoration-color;
    }
  }
}

.img-responsive {
  width: 100%;
}

.content-header {
  padding: 0;
  margin: 0;
}

footer {
  @include content-wrap;

  img {
    max-height: 64px;
    max-width: 64px;
  }
}
