$global-background: rgb(255, 236, 252);
$content-background: white;
$text-color: rgb(88, 75, 75);
$header-title-color: rgb(255, 180, 180);
$text-block-background-color: rgb(255, 247, 254);
$text-decoration-color: #f18a8a;

.global {
  background-color: $global-background;
  color: $text-color;

  color: $text-color;
  font-family: 'Roboto Mono', monospace;

  padding: 25px;
  margin: 25px;
}

.header {
  padding: 12px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  text-align: center;
  width: 800px;
  height: 68px;

  a {
    animation: 0.5s slidein linear;
    @keyframes slidein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    color: $header-title-color;
    font-family: 'Press Start 2P', cursive;
    font-size: 56px;
    letter-spacing: 0.125em;
    text-decoration: none;

    &:visited {
      color: $header-title-color;
      text-decoration: none;
    }
  }
}

.content {
  background: $content-background;
  padding-bottom: 8px;
  padding-top: 8px;
  padding: 12px;
  width: 800px;

  h1 {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 36px;
    letter-spacing: 0.33em;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    background-color: $text-block-background-color;

    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-style: bold;
    letter-spacing: 0.025em;
    margin: 0;
    padding: 8px;
    padding-bottom: 0;
  }

  p {
    background-color: $text-block-background-color;
    font-size: 14px;
    letter-spacing: 0.075em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  a {
    color: $text-color;
    text-decoration-line: dotted;
    text-decoration-color: $text-decoration-color;
    &:visited {
      color: $text-color;
    }
    &:hover {
      color: $text-decoration-color;
      text-decoration: none;
    }
    &:active {
      color: $text-decoration-color;
      text-decoration: underline;
      text-decoration-color: $text-decoration-color;
    }
  }
}

.img-responsive {
  width: 100%;
}

.content-header {
  padding: 0;
  margin: 0;
}
