$small-start-breakpoint: 400px;
$medium-start-breakpoint: 600px;
$large-start-breakpoint: 1080px;

@mixin content-wrap {
  margin-left: 8px;

  @media screen and (min-width: $medium-start-breakpoint) {
    margin-left: 8px;
    margin-right: 8px;
    padding: 16px;
  }

  @media screen and (min-width: $large-start-breakpoint) {
    margin: auto;
    padding: 16px;
    width: 1080px;
  }
}
