<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

<link href="https://fonts.googleapis.com/css?family=Bangers|Press+Start+2P|Roboto+Mono|Source+Code+Pro|Special+Elite|Rock+Salt|Swanky+and+Moo+Moo"
  rel="stylesheet">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" /></head>

<body class="global">
  <div class="header">
    <a class="header__title" href="/">SPACEKITCAT!</a>
  </div>
  <section class="content">
    {{ content }}
  </section>
      <p>{{ date }}</p>

  <footer>
  </footer>
</body>

</html>
