<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono|Major+Mono+Display|Bungee+Shade|Fredericka+the+Great"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-100780253-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-100780253-1');
    </script>
  </head>

  <body class="global">
    <div class="header">
      <a class="header__title" href="/">SPACEKITCAT!</a>
    </div>
    <div class="content-wrapper">
      <h1>{{ page.title }}</h1>
      <section class="content">
        {{ content }}
      </section>
    </div>
    <p>{{ date }}</p>

    <footer>
      <a href="https://github.com/spacekitcat">
        <img alt="The GitHub icon which links to my personal GitHub page."" src="{{ '/assets/images/GitHub-Mark-64px.png' | relative_url }}" />
      </a>
    </footer>
  </body>
</html>
