body {
  background: rgb(255, 50, 50);
  margin: 0;
}

#navigator {
  background-color: white;
  color: rgb(80, 80, 80);
  font-family: 'Special Elite', cursive;
  font-size: 64px;
  margin: 0 auto;
  margin-top: 0px;
  min-height: 400px;
  max-width: 1008px;
  padding: 16px 32px;
  text-align: center;
  width: 100%;
}
